.menu {
    border: 1px solid #979797;
    padding: 13px;
}

.checkbox {
    display: flex;
    align-items: center;
    margin-bottom: 10px;

    &:last-child {
        margin-bottom: 0;
    }

    input {
        margin-bottom: 6px;
        border: 1px solid #000000;

        &:hover {
            cursor: pointer;
        }
    }

    label {
        display: flex;
        align-items: center;
        font-size: 14px;
        line-height: 24px;
    }
}

.any {
    margin-left: 5px;
}

.star {
    margin-left: 3px;

    &:first-child {
        margin-left: 5px;
    }
}